<h3>Latest submissions</h3>

{{>_table}}


<h3>Submit</h3>

<p>
If you have received an email notification by a search engine that one of your page has been removed from their index, please forward it to <a href="mailto:post@righttobeunforgotten.eu">post@righttobeunforgotten.eu</a> and we will automatically add it to this index.
</p>
