<h3>Latest submission 
  <div class="btn-group" id="toggle">
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
      from {{selection}} <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu">
      <li><a href="/">from media companies</a></li>
      <li><a href="/?selection=anyone">from anyone</a></li>
    </ul>
  </div>

</h3>

{{>_table}}



<h3>Submit</h3>

<p>
If you have received an email notification by a search engine that one of your page has been removed from their index, please forward it to <a href="mailto:post@righttobeunforgotten.eu">post@righttobeunforgotten.eu</a> and we will automatically add it to this page.
</p>

<h3>Follow</h3>
<p>
  <a href="https://twitter.com/rtbunforgotten" target="_blank">Follow us on Twitter</a> to receive a notification whenever a new url  has been submitted to this site.
</p>

<h3>Donate</h3>
<p>
  Help us keep this server up and running. <a href="https://coinbase.com/rtbunforgotten" target="_blank">Please consider sending us some bitcoins</a>.
</p>

<h3 id="about">About</h3>
<p>

  <a href="http://en.wikipedia.org/wiki/Right_to_be_forgotten" target="_blank">The Right To Be Forgotten</a> is a new law from the European Union that allows anyone to ask to remove from search engines web pages about their past. The goal of this website is to shed the light on the stories that are being removed (aka <a href="http://en.wikipedia.org/wiki/Streisand_effect" target="_blank"> the Streisand Effect</a>). Hopefully, this will deter people from submitting requests to remove stories that should remain in the public knowledge and contribute to defend the freedom of the press.

</p>

<p>
    This is an open source project under MIT license. Pull requests are more than welcome. <a href="https://github.com/xdamman/RightToBeUnforgotten" target="_blank">https://github.com/xdamman/RightToBeUnforgotten</a>.
</p>

<script src="/public/js/home.js" defer></script>
